<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div>
        <form action="{% url 'task-post' task.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ post_form.as_p }}
            <button type="submit"><a href="{{ post.media.url }}">Завантажити пост</a></button>
        </form>
    </div>
</body>
</html>